# Gares transilien

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("gares_transilien.csv", sep=";")
df[["lat","lng"]]= df["Coord GPS (WGS84)"].str.split(",", expand=True)
# df.to_csv("gares_transilien_latlng.csv")

In [3]:
df.head(2)

,Code UIC,uic7,Libelle point d'arret,Libelle,Libelle STIF (info voyageurs),Libelle SMS gare,Nom Gare,Adresse,Code INSEE commune,Commune,X (Lambert II etendu),Y (Lambert II etendu),Coord GPS (WGS84),Zone Navigo,Gare non SNCF,lat,lng
0,87113803,8711380,LES YVRIS - NOISY LE GRAND,LES YVRIS NOISY LE GRAND,GARE DES YVRIS NOISY LE GRAND,Les Yvris,Noisy-le-Grand Les Yvris,avenue du bois St Martin 93160 Noisy le Grand,93051,Noisy-le-Grand,617874.0,2425006.0,"48.8231906883, 2.57979540155",4.0,0.0,48.8231906883,2.57979540155
1,87116012,8711601,GRETZ ARMAINVILLIERS,GRETZ ARMAINVILLIERS,GARE DE GRETZ ARMAINVILLIERS,Gretz,Gretz-Armainvilliers,Avenue de la Liberté 77220 Gretz-Armainvilliers,77215,Gretz-Armainvilliers,628860.0,2416398.0,"48.7454247254, 2.72874414729",5.0,0.0,48.7454247254,2.72874414729

# Schedules

## Routes

In [4]:
df = pd.read_csv("gtfs-lines-last/routes.txt")

In [5]:
df.head(2)

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,DUA800853021,DUA853,H,Gare du Nord - Pontoise / Luzarches / Beauvais...,NaN,2,NaN,7B4339,FFFFFF
1,DUA800803571,DUA803,C,Pontoise / Versailles R. Gauche / St-Quentin e...,NaN,3,NaN,FCD946,FFFFFF

## Calendar dates

In [6]:
df = pd.read_csv("gtfs-lines-last/calendar_dates.txt")

In [7]:
df.head(2)

   service_id      date  exception_type
0       10792  20170207               2
1       10792  20170208               2

## Calendar

In [8]:
df = pd.read_csv("gtfs-lines-last/calendar.txt")

In [9]:
df.head(5)

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,10792,1,1,1,1,1,1,1,20161201,20170607
1,10811,0,0,0,0,1,0,0,20170217,20170526
2,10833,0,1,1,1,1,1,0,20161201,20161217
3,10119,0,1,1,1,1,1,0,20161201,20161210
4,10835,0,0,0,0,0,0,1,20170206,20170409

## Stop times

In [10]:
df = pd.read_csv("gtfs-lines-last/stop_times.txt")

In [11]:
df.head(2)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type
0,DUASN124693F09002-1_511854,00:06:00,00:06:00,StopPoint:DUA8727605,0,NaN,0,1
1,DUASN124693F09002-1_511854,00:08:00,00:09:00,StopPoint:DUA8727658,1,NaN,0,0

## Stops

In [12]:
df = pd.read_csv("gtfs-lines-last/stops.txt")

In [13]:
df.head(2)

,stop_id,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,StopArea:DUA8727605,ERMONT EAUBONNE,NaN,48.980236,2.271376,NaN,NaN,1,NaN
1,StopArea:DUA8727658,ERMONT HALTE,NaN,48.990651,2.263183,NaN,NaN,1,NaN

## Transfers

In [14]:
df = pd.read_csv("gtfs-lines-last/transfers.txt")

In [15]:
df.head(2)

,from_stop_id,to_stop_id,transfer_type,min_transfer_time
0,StopPoint:DUA8754700,StopPoint:DUA8754702,2,252
1,StopPoint:DUA8754702,StopPoint:DUA8754700,2,252

## Trips

In [16]:
df = pd.read_csv("gtfs-lines-last/trips.txt")

In [17]:
df.head(2)

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id
0,DUA800853021,10792,DUASN124693F09002-1_511854,POTA,0,NaN
1,DUA800853021,10792,DUASN124695F02002-1_511855,POTA,0,NaN